*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    

}

body{
    height: 100vh;
    width: 100%;
    background-color: #fff
    no-repeat;
    background-size: cover;
    background-position: center;

}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.4);
    display: flex;
    justify-content:
     space-between;
    align-items: center;
    padding: 0 8%;
}
header .logo {
    font-size: 25px;
    color:black;
    font-weight: 800;

}

ul li {
    position: relative;
    float: left;

}
ul li a{
    color: black;
    font-size: 18px;
    display: block;
    padding: 20px;
}

ul li a:hover {
    background: #000;
    color: #fff;
}

nav ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
    display: none;

}
nav ul li ul li {
    width: 100%;
    border: 1px solid rgba(0,0,0,.1);

}

nav ul li:hover > ul {
    display: initial;
}
.menu{
    position: relative;
    width: 40px;
    height: 35px;
    background: transparent;
    cursor: pointer;
}
input[type=checkbox]{
    display:none;

}
.menu span {
    display: block;
    position:absolute;
    height: 4px;
    width: 100%;
    background: #000;
    border-radius: 10px;
    transition: .5s;


}
.menu span:nth-child(1){
    top: 0;
    transform-origin: left center;

}
.menu span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;


}
.menu span:nth-child(3){
    top: 100%;
    transform: translateY(-100%);
    transform-origin: left center;


}
input:checked ~ label
span:nth-child(1) {
transform: rotate(45deg);
top: 0;
left: 10px;
}

input:checked ~ label
span:nth-child(2) {
    width: 0;
    opacity: 0;

}

input:checked ~ label
span:nth-child(3){
    transform: rotate(-45deg);
    top: 28px;
    left: 10px;

}
header label {
    display: none;
}

@media(max-width:991px){
    header {
        padding: 20px;
    }

    header nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border: 1px solidrgba(0,0,0,.1);
        display: none;


    }
    header nav ul li {
        width: 100%;
    }
    header nav ul li ul {
        position: relative;
        width: 100%;
        background: #ccc;
    }

    header label {
        display: initial;

    }

    #menu:checked ~ nav {
        display: initial;
    }
    
}
.content{
    padding-top: 20%;
    padding-left: 15%;
    font-size: xx-large;
    color: #fff;

}
.zagovolok {
    padding-left: 31%;
    padding-bottom: 3%;
    font-size: xx-large;
    color: #fff;
}
.inst{
    width: 5%;

}
.button {
    padding-left: 35%;
    

}
.socials {
    padding-top: 20%;
}
.tvitir{
    width: 4%;
    margin-left: 30%;
    margin-top: 8%;
}
.tvitir:hover {
    background: #ffffff;
    border-radius: 50%;
  
  
  }
  .podval {
    padding-top: 10%;
    background-color: #000000;
    padding-left: 0%;
    width: 100%;
    color:#000;  
    display: flex;
    justify-content: center;
    

    
  }
  .slogan {
    font-size: 80px;
    padding-top: 10%;
    padding-left: 10%;
  }
  .podval p {
    color: #fff;
    font-size: large;
    margin-right: 20px;

  }
  
  
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container h1 {
    margin-bottom: 10px;
  }
  iframe {
    width: 40vw;
    height: 50vh;
  }

  .container2 {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
  }
  .container3 {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }